.flour {
  left: 25%;
}
.campo {
  object-position: left;
}
.grass {
  top: -40%;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.gradient {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0)
  );
}

@media (min-width: 768px) {
  .flour {
    left: 5%;
  }
  .campo {
    object-position: center;
  }
  .grass {
    height: fit-content;
  }
  .gradient {
    object-fit: unset;
  }
}
